.about-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.about-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 8px;
}
.mobile-about-img {
  width: 80%;
  max-width: 460px;
}
@media screen and (min-width: 768px) {
  .mobile-about-img {
    display: none;
  }
}
.desktop-about-img {
  width: 100%;
  max-width: 1100px;
}
@media screen and (max-width: 767px) {
  .desktop-about-img {
    display: none;
  }
}
