.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.home-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 8px;
}
.mobile-home-img {
  width: 80%;
  max-width: 460px;
}
@media screen and (min-width: 768px) {
  .mobile-home-img {
    display: none;
  }
}
.desktop-home-img {
  width: 100%;
  max-width: 1100px;
}
@media screen and (max-width: 767px) {
  .desktop-home-img {
    display: none;
  }
}
